.chart-block {
    border: 1px solid #2980b9;
    cursor: pointer;
}

.chart-block-div {
    cursor: pointer;

    padding: 10px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    pointer-events: auto;

    color: rgb(255, 255, 255);


}

.chart-block-div p {
    color: white;
    text-align: center;
    margin: 0;
}

.chart-block-div:hover {
    background-color: #033a5e;

}
