.chart-block {
    border: 1px solid #2980b9;
    cursor: pointer;
}

.chart-block-div {
    cursor: pointer;

    padding: 10px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    pointer-events: auto;


    color: rgb(255, 255, 255);


}

.chart-block-div p {
    color: white;
    text-align: center;
    margin: 0;

    cursor: pointer;

    padding: 10px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    pointer-events: auto;


    color: rgb(255, 255, 255);
}

.chart-block-div:hover {
    background-color: #033a5e;

}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#info-cards {
    margin-top: 32px;
    width: 600px;
    height: 500px;
    border: 1px solid #ccc;
    overflow: auto;
}

#gantt-chart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gantt-chart .chart-svg{
    border: 1px solid #ccc;
    max-width: 1200px;
    overflow: auto;
}

.chart-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.chart-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    & input{
        width: 500px;
    }
}